@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.FooterNewDesignContainer {
  background: #0B1941;
  color: white;
  padding-top: 20px;
}
.FooterNewDesignContainer .FooterNewDesign_logo {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 5px;
  align-items: center;
}

.FooterNewDesignContainer .bhashiniapp__footer{
  width: 120px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
}
hr{
flex-shrink: 0;
width: 100%;
max-width: 100%;
padding-right: 12px;
padding-left: 12px;
border-top: 1px solid;
color:rgb(171, 190, 209, 0.4);
}

.FooterNewDesignContainer .Footer__documents{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
 
}
