@media screen and (max-width: 577px) {
  .col-md-1FOURTEEN {
    padding: 0px;
  }
  /* .top__head {
   padding: 5px 10px;
} */
  .top__listing-item:nth-child(1) {
    display: none;
}
}
.topHead {
  background: #fff;
  border-bottom: 1px solid #efefef;
}
.top__head{
  padding: 6px;
  border-bottom: 1px solid #ECECEC;
}
.top__head-container{
  display: flex;
  justify-content: space-between;
}
.top__listing {
  display: flex;
  
}
.top__listing-item {
  list-style: none;
}
.top__listing-link {
  display :flex;
  align-items: center;  
  color: #16337B;
}
.top__listing-link .u-text {
  font-size: 0.875rem;
  color: #3A3A3A;
}
.top__listing-link .u-icon {
  font-size: 0.8125rem;
  color: #16337B;
  margin-right: 5px;
}
.top__listing-item + .top__listing-item {
    margin-left: 20px;
}
.top__listing-link .sub-link {
  font-size: 0.875rem;
  color: #3A3A3A;
  min-width: 22px;
  text-align: center;
}
.top__listing-link select, .top__listing-link .lang {
    outline: none !important;
    font-size: 0.875rem;
}


@media screen and (max-width: 467px) {
  .top__listing-link .u-icon {
    display: none;
}
}
.topHead__main {
  display: flex;
  justify-content: space-between;
}
.topHead__items {
  align-items: center;
  display: flex;
  padding: 3px 0;
}
.topHead__items-action {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 499px) {
  .topHead__items-action {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 420px) {
  .topHead__items-action {
    padding: 0px;
  }
}
.topHead__items-list, .topHead__items-link {
  display: flex;
  text-decoration: none;
}
.topHead__items-list .icon, .topHead__items-link .icon {
  color: #00f;
  font-weight: bold;
  margin-right: 8px;
}
.topHead__items-list .value, .topHead__items-link .value {
  color: #333;
  font-size: 14px;
}
@media screen and (max-width: 420px) {
  .topHead__items-list:nth-child(1) img, .topHead__items-list:nth-child(2) img, .topHead__items-list:nth-child(3) img {
    display: none;
  }
}
.topHead__items-list:first-child {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .topHead__items-list:first-child {
    display: none;
  }
}
.img {
  align-items: center;
  display: flex;
  height: 16px;
  margin-right: 8px;
  max-width: 100%;
}
.multiItem-2 {
  color: #3a3a3a;
  margin-right: 10px;
  text-decoration: none;
}
.multiItem-2:hover {
  color: #021cff;
}
.lang {
  border: none;
}
.fontChange {
  color: #000000;
  margin: 0 10px 0 0;
}
@media screen and (max-width: 420px) {
  .fontChange {
    margin: 0 5px 0 0;
  }
}
.fontChange:hover {
  color: #021cff;
  cursor: pointer;
}
