<p>&lt;!doctype html&gt;</p>
<p>&nbsp;</p>
<table style="max-width: 600px; width: 100%; font-family: 'Lato', sans-serif;" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<table style="padding: 40px 0 40px 0;" border="0" width="85%" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td>
<h4 style="margin: 0; margin-bottom: 40px; padding: 0; font-size: 21px; font-weight: bold; color: #0c0f0f;">ULCA</h4>
</td>
</tr>
<tr>
<td style="background-color: #ececf1; padding: 30px;">
<p><a style="font-size: 16px; color: #0c0f0f; margin-bottom: 20px;">Dear User,</a></p>
<p style="margin-bottom: 20px; font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400;">Here are the statistics for ULCA datasets and jobs:-</p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;">Parallel dataset (#sentence pair) <br /><strong>{{parallel}}</strong></p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;">Monolingual dataset (#sentences) <br /><strong>{{mono}}</strong></p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;">ASR dataset (#hours) <br /><strong>{{asr}}</strong></p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;">ASR Unlabeled dataset (#hours) <br /><strong>{{asrun}}</strong></p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;">OCR dataset (#images) <br /><strong>{{ocr}}</strong></p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;">---------------------------------------------------------------------</p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;"># of jobs in progress <br /><strong>{{inprogress}}</strong></p>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 20px;"># of jobs pending <br /><strong>{{pending}}</strong></p>
</td>
</tr>
<tr>
<td>
<p style="font-size: 14px; line-height: 1.5; color: #0c0f0f; font-weight: 400; padding-top: 40px;">Thanks,<br /><strong>ULCA Team</strong></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
