<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteBase /sub-url-name/
 RewriteCond %{REQUEST_FILENAME} -s [OR]
 #Rewrite Conditions 
 RewriteCond %{REQUEST_FILENAME} -l [OR]
 RewriteCond %{REQUEST_FILENAME} -d
 RewriteRule ^.*$ – [NC,L]
 RewriteRule ^(.*) /ulca/index.html [NC,L]
 </IfModule>