/* font-family: 'Roboto', sans-serif;
font-family: 'Rowdies', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* img {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

* {
  list-style: none;
  /* overflow-x: hidden; */
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  font-size: 1rem;
}
body {
  /* font-family: "Roboto", sans-serif; */
  color: #0c0f0f;
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 2;
}

:focus,
button:focus,
.btn:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}
ul,
li {
  /*     list-style: none; */
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto-Regular";
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #4e6079;
}
a {
  color: #ffffff;
  /*     font-size: .875rem; */
}
a:hover {
  text-decoration: underline;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}

/* css start here */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Rowdies", cursive;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.3;
}
h1,
.h1 {
  font-size: 3.125rem;
  font-weight: 300;
}
h2,
.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h6,
.h6 {
  font-weight: 300;
}
.h7 {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.ft-14 {
  font-size: 0.875rem;
  line-height: 1.5;
}
.ft-20 {
  font-size: 1.25rem;
  line-height: 2rem;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.primary-color {
  background-color: #0f2749 !important;
}
.bg-gray {
  background-color: #f3f5f7;
}
.text-primary {
  color: #2961ad !important;
}
.yellowColor {
  color: #febf2c !important;
}
.lighGrey {
  color: #707e92 !important;
}
.text-black {
  color: #3a3a3a;
}
header {
  width: 100%;
  background-color: #ffffff;
  padding: 0.6rem 0.75rem;
}
.bhashini-logo img {
  height: 50px;
  width: auto;
}
.navbar.bg-light {
  background-color: white !important;
  padding: 4px 0 4px 0;
}
.navbar-light .navbar-nav .nav-link {
  color: #6A6A6A  ;
  padding: 0.4rem 0;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  border: none;
  border-bottom: 3px solid transparent;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  border-bottom: 3px solid #ff7f11;
  font-weight: 700;
  padding-bottom: 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
  border-color: #13296C;
  /* padding-bottom: 15px; */
}
.bh-btn-primary {
  background-color: #2961ad;
  border-radius: 30px;
  padding: 5px 40px !important;
  letter-spacing: 0.5px;
  /* font-weight: 500; */
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.mainBanner {
  background-color: #deecff;
  border-top: 1px solid #c8d5e6;
  border-bottom: 1px solid #c8d5e6;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}
.mainBanner .roundShape {
  width: 45%;
  height: 160px;
  border-radius: 0 8rem 8rem 0;
  background-color: #2a61ae;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.shape1,
.shape2 {
  position: absolute;
  right: 0;
  top: 0;
}
.shape1 {
  transform: rotate(-180deg);
}

.shape2 {
  left: 0;
  top: 0;
}

.bannerImg img {
  max-width: 120%;
}

.section {
  position: relative;
}

.carousel {
  width: auto;
  overflow: hidden;
  position: relative;
  height: 427px;
  background-color: #0663c7;
}

.line {
  width: 24px;
  height: 4px;
  background-color: #1db5d8;
  border-radius: 4px;
  margin: 0 auto;
}
.ulcaInfo ul,
footer ul {
  list-style: none;
}
.ulcaInfo li {
  border: 1px solid #e6e6e6;
  padding: 0.8rem 1rem 0.8rem 3rem;
  margin-top: -1px;
  background-color: #ffffff;
  font-size: 1.25rem;
}
.ulcaInfo li::before {
  content: "";
  background: url("../img/fwd-arrow.svg") no-repeat 0 0;
  width: 24px;
  height: 24px;

  position: absolute;
  left: 2rem;
  margin-top: 6px;
}
.models {
  margin-top: 40px;
}
.models .dataset-orange {
  background: #ffffff;
  border: 1px solid #ffb200;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 24px;
  padding: 20px;
  position: relative;
  max-width: 365px;
  min-height: 400px;
}
.models div.col-sm-4:first-child > .dataset-orange {
  border: 1px solid #e29f72;
}
.models .dataset-orange .font-italic {
  font-size: 13px;
}
.models ul {
  min-height: 310px;
}
.models .dataset-orange ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.models .dataset-orange li {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}
.models .dataset-orange::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 42%;
  width: 0;
  height: 0;
  border-top: solid 20px #e29f72;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}
.models div.col-sm-4:first-child .dataset-orange::after {
  border-top: solid 20px #ffb200;
}
.models div.col-sm-4:nth-child(3) .dataset-orange::after {
  border-top: solid 20px #9ea7c9;
}

.dataset-orange,
.api-buttons {
  margin: 0 auto;
}
.api-buttons {
  max-width: 300px;
  color: #fff;
}
.bh-btn-orange {
  background: #fd973f;
  border: 1px solid #fd973f;
  color: #3a1700;
  border-radius: 24px;
  padding: 5px 40px;
  font-weight: 600;
  font-size: 1.125rem;
}
.models div.col-sm-4:first-child > .api-buttons .bh-btn-orange {
  background: #ffbf00;
  border: 1px solid #ffbf00;
}
.models div.col-sm-4:nth-child(3) > .dataset-orange {
  border: 1px solid #7e8ab8;
  box-shadow: 0px 1.81944px 1.81944px rgb(0 0 0 / 25%);
}
.models div.col-sm-4:nth-child(3) > .api-buttons .bh-btn-orange {
  background: #5f73a4;
  border: 1px solid #5f73a4;
  color: #fff;
}

footer .footerBg {
  display: flex;
  align-items: center;
  padding: 30px 50px;
  color: #16337b;
}
footer .section {
  padding-top: 30px;
}
footer .bg1 {
  background-color: #dfeafb;
}
footer .bg2 {
  background-color: #c6d9f4;
}
footer .bg3 {
  background-color: #b3caed;
}
footer .footerBg a {
  color: #16337b;
  font-size: 1.05rem;
  font-weight: 500;
}
footer .footerBg img {
  margin-right: 1rem;
}
footer ul.link li {
  padding: 0.5rem 0.875rem;
}
footer ul.link li:first-child {
  padding-left: 0;
}

@media (max-width: 1199.98px) {
  .mainBanner .roundShape {
    display: none;
  }
  .bannerImg img {
    max-width: 120%;
    margin-left: -15%;
  }
  footer .footerBg {
    padding: 1rem;
  }
  footer .footerBg img {
    margin-right: 0.5rem;
    height: 48px;
  }
  .models .dataset-orange {
    min-height: 566px;
  }
  footer ul.link li {
    padding-left: 0;
  }
  .w-25 {
    width: 50% !important;
  }
}
@media (max-width: 767.98px) {
  footer ul.link li {
    padding-left: 0;
  }
  header {
    padding: 0.6rem 0;
  }
  /* .navbar .join {
    display: none;
  } */
  .navbar-light .navbar-nav .nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.9375rem;
  }
  h1,
  .h1 {
    font-size: 3.125rem;
    font-weight: 300;
  }
  h2,
  .h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  h6,
  .h6 {
    font-weight: 300;
  }
  .models .dataset-orange {
    min-height: auto;
  }
  .dashboard .row .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

.join {
  margin-left: 20px;
}
.join .bh-btn-primary {
  padding: 11px 30px !important;
}

.footer-anchor-redirect-links {
  color: #ffffff;
  text-decoration: none;
}

.footer-anchor-redirect-links:hover {
  color: #ff7f11;
  text-decoration: none;
}

.container .home-elements {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}

/* Tooltip */
[data-tooltip] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  background-color: #333;
  margin-bottom: 10px; /* Adjust margin to control the distance from the element */
  color: #fff;
  width: 367px;
  line-height: 25px;
  border-radius: 4px;
  white-space: normal;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}

[data-tooltip]::after {
  content: "";
  position: absolute;
  bottom: 100%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}

/* End Tooltip */

/* start select box */

.wrapper {
  /* position: relative; */
  height: 50%;
  /*   transform: translate(-50%,-50%); */
}

.wrapper .title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.select_wrap {
  width: 225px;
  /* margin: 15px auto; */
  position: relative;
  user-select: none;
}

.select_wrap .default_option {
  background: transparent;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
}

.DatasetTxt {
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  margin-left: 0px;
}

#totalValue,
#totalValue2,
#totalValue3 {
  margin-left: 25px;
  margin-top: 13px;
  color: var(--Neutral-500_Black, #212121);
  font-family: " Inter-Regular";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
}

.select_wrap .default_option li {
  padding: 12px 0px 0px 0px;
}

.select_wrap .default_option:before {
  content: "";
  position: absolute;
  top: 25px;
  right: 0px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #555555 #555555;
  transform: rotate(-45deg);
}

.select_wrap .select_ul {
  position: absolute;
  top: 48px;
  left: 12px;
  z-index: 1;
  width: 120%;
  background: #fff;
  border-radius: 5px;
  /* display: none; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.select_wrap .select_ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.select_ul .option {
  background-color: #fff !important;
}

.select_wrap .select_ul li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select_wrap .select_ul li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select_wrap .select_ul li:hover {
  /* background: #fff4dd; */
}

.select_wrap .option {
  display: flex;
  align-items: center;
  height: 30px !important;
  width: 180px !important;
  /* background-color: #fff !important; */
}

.select_wrap .option .icon {
  background: url("https://i.imgur.com/oEZu0sK.png") no-repeat 0 0;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.select_wrap.active .select_ul {
  display: block;
}

.carousel {
  height: auto;
}
.carousel-item img {
  width: 100%;
  height: auto;
}

.custom-indicators {
  position: absolute;
  bottom: 10px;
  left: 9vw;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.custom-indicator {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-indicator.active {
  background-color: #fff;
  opacity: 1;
}

.select_wrap.active .default_option:before {
  top: 18px;
  transform: rotate(-225deg);
}
/* end select box */

.container.elements p {
  color: black;
  font-size: 16px;
  font-family: "OS-Regular";
  /* font-weight: 600 ; */
  line-height: 24px;
  word-wrap: break-word;
  width: 100%;
}

#datasetSelect option {
  background-color: white;
  width: 200px;
}
.theme-btn{
    background:#2961ad;
    border: none;
    font-size: 1rem;
    padding: 8px 25px;
    border-radius: 0px;
    background-clip: padding-box;
    font-weight: 300;
    font-family: 'Rowdies';
}
.theme-btn:hover{
 background-color: #08408a;
 
}

.home-elements .dataset-element,
.home-elements .model-element,
.home-elements .benchmark-element {
  display: flex;
  width: 33.3333%;
  flex-direction: column;
}

.elements .col div:nth-of-type(1) {
  height: 190px;
  width: auto;
  background-color: #dbedff;
  padding: 0.3rem;
  margin: 10px 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: black;
  font-family: " Inter-Regular";
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
  width: 100%;
}

.container .video-overview {
  height: 437px;
  width: 100%;
  margin: auto;
  margin-bottom: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter-Regular";
}

.video-overview h1 {
  font-family: "Inter-Regular";
}

.why-ulca {
  background-color: #f5f7fa;
  padding: 40px 0;
}

.h3 {
  font-size: 36px !important;
}

.overviewHeading {
  line-height: 24px;
}

.mobileButton {
  margin-top: 9%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .mobileButton {
    margin-top: -5%;
    flex-direction: column;
    justify-content: "center";
  }

  .mobileButton1 {
    margin-top: 4%;
  }

  .desktopButton {
    text-align: center;
  }

  .video-overview {
    width: 100%;
    text-align: center;
  }

  .overviewHeading {
    line-height: 48px;
  }

  .navbarScroll {
    width: 400px;
    overflow: auto;
  }

  [data-tooltip]::before {
    width: 280px;
    left: -110px;
  }

  .tabButton {
    flex-direction: column;
    justify-content: "center";
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .tabButton {
    margin-top: 6%;
  }

  [data-tooltip]::before {
    width: 280px;
    left: -100px;
  }
}

@media screen and (min-width: 801px) and (max-width: 850px) {
  .tabButton {
    margin-top: 4%;
  }
  [data-tooltip]::before {
    width: 280px;
    left: -100px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 851px) {
  .desktopButton {
    font-size: 10px;
  }

  .tabButton {
    margin-top: 4%;
  }

  [data-tooltip]::before {
    width: 280px;
    left: -100px;
  }
}

@media screen and (max-width: 380px) {
  .mobileButtonextraSmall {
    /* margin-top: 10%; */
    font-size: 15px;
  }

  .DatasetContainer1 {
    height: 215px !important;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2300px) {
  .mobileButton {
    margin-top: 4%;
  }
}

@media screen and (min-width: 2300px) and (max-width: 3000px) {
  .mobileButton {
    margin-top: 3%;
  }
}
